body {
    text-align: center;
    margin: 0;
    padding: 0;
}

#header, #footer {
    padding: 1rem;
    height: 10px;
    color: white;
    border: 2px solid black;
    background-color: #7177e3;
    border-radius: 5px;
    margin: 2rem;
}

#container {
    width: 75%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #2da1c7;
    background-color: #fac2fc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.item {
    padding: 7rem;
    background-color: bisque;
    display: flex;
    align-items: center;
    border: 2px solid #2dc759;
    border-radius: 5px;
}